{% extends "base.html" %}
{% block content %}

<div class="courses">
{% for course in courses %}
	<div class="course">
		<h2 class="course-title">
			Course {{ loop.index }}: {{ course['title'] }}
		</h2>
		<div class="course-description">
			{{ course['description'] }}
		</div>
<!-- 		<div class="course-links">
			<ul>
				<li>
					<a href="course/{{ loop.index0 }}/">Notes for {{ course['title'] }}</a>
				</li>
				<li>
					<a href="{{ course['url'] }}">Link to Udacity Course</a>
				</li>
			</ul>

		</div> -->
		<div class="container">
			<div class="lessons">
				<h3>Lessons from the Course</h3>
				<ol class="lesson">
				{% for lesson in course['lessons'] %}
					<li class="lesson">
						<a class="lesson" href="{{ lesson['url'] }}" target="_blank">{{ lesson['title'] }}</a>: {{ lesson['description'] }}
					</li>
				{% endfor %}
				</ol>
				<h3>More Resources</h3>
				<ul class="link">
					<li>
						<a href="/notes/course/{{ loop.index }}/">Notes for {{ course['title'] }}</a>
					</li>
					<li>
						<a href="{{ course['url'] }}">Link to Udacity Course</a>
					</li>
				</ul>
			</div>
			<div class="video">
				<h3>
					Best Video: {{ course['favorite_video']['title'] }}
				</h3>
				<div class="embedded-video">
					<iframe width="560" height="315" src="{{ course['favorite_video']['url'] }}" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="video-caption">
					{{ course['favorite_video']['caption'] }}
				</div>
			</div>
			<div class="clear">
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}