body {
  font-family: "Whitney SSm A","Whitney SSm B","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 1.7;

  color: #303030;
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (max-width:700px) {
	body {
		font-size : 16px;
	}
}
@media screen and (max-width:580px) {
	body {
		font-size : 14px;
	}
	.top-image {
		display: none;
	}
}
@media screen and (max-width:460px) {
	body {
		font-size : 12px;
	}
}

a {
	color : #1199c3;
	text-decoration: none;
}
a:hover {
	color: #307699;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.header,
.footer {
	background-color: #294860;
	color: white;
}

.footer {
	padding-bottom: 40px;
}

.page-title {
	margin-top: 20px;
	text-align: center;
}

.top-image {
	min-width : 60px;
	max-width: 100px;
	width : 10%;
	min-height : 60px;
	float:left;
	margin : 10px;
}

.nav-top {
	padding-bottom: 10px;
}

.nav-top .dropdown {
	float : right;
	display: none;
	background: transparent;
	border : 0px;
	color : inherit;
	font-family: inherit;
	font-size: inherit;
}

.nav-list {
	padding : 0;
	list-style-type: none;
}

.nav-item a {
	display : inline-block;
	font-size : 1.3em;
	color : rgba(255, 255, 255, 0.65)
}

.nav-item a:hover {
	color: #307699;
}

.nav-item-right {
	float: right;
	margin-left: 15px;
	margin-right: 10px;
}

.nav-item-left {
	float: left;
	margin-left: 10px;
	margin-right: 5px;
}

.footer .take-nanodegree {
	display: block;
	width : 100%;
	text-align: center;
}

.button-primary {
	background-image: linear-gradient(to bottom,#f59a18 0,#f27d13 100%);
  background-repeat: repeat-x;
  border-color: #c7640b;
  color: #fff;
  background-color: #f6a926;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 1.4em;
  line-height: 1.7;
  cursor: pointer;
}

@media screen and (max-width:580px) {
	body {
		font-size : 14px;
	}
}

