.section {
	background-size: cover;
	background-position: center;
	height: 290px;
	text-align: center;
	margin : 5px auto;
	max-width: 470px;
}

.section-title {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.7);
	width: 80%;
	font-weight: normal;
	padding: 20px 40px;
	margin-top: 100px;
	color : white;
	text-decoration: none;
	vertical-align: middle;
	font-size: 1.8em;
	right:0;
	top:70px;
}
