body {
  font-family: "Whitney SSm A","Whitney SSm B","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 1.7;

  color: #303030;
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (max-width:750px) {
	body {
		font-size : 16px;
	}
}

@media screen and (max-width:580px) {
	body {
		font-size : 14px;
	}
	.top-image {
		display: none;
	}
}

@media screen and (max-width:460px) {
	body {
		font-size : 12px;
	}
}

a {
	color : #1199c3;
	text-decoration: none;
}

a:hover {
	color: #307699;
}

h1, h2 {
	color : #294860;
}
/* I decided to use a generic idea of "sections" 
throughout all pages. Initially I was individually styling
the "topic" sections on the resource pages AND the "course" 
sections on the notes page. But I realized I wanted them to 
look the same so I generalized.*/
.section-title {
	color : #294860;
	border-left : white solid 0.4em;
	margin : 0.5em 0;
	background-color: #DDD;
	padding: 0.2em 0.4em;
}

.section,
.section ul, 
.section ol {
	padding-left: 0.4em;
}

.section li {
	margin-bottom: 1em;
}

.section p {
	margin : 0;
	margin-left: 0.4em;
	font-size: 1.1em;
}

.section li p {
	font-size: 1em;
}


/* I wanted all "table-of-contents" sections to look
the same. */

.table-of-contents-entry {
	min-width : 50%;
	padding: 0.4em;
}

.item-title {
	font-size : 1.2em;
}

.header .page-title,
.footer .take-nanodegree {
	color: white;
}

.section h3 {
	text-align: center;
}

.section-title h2 {
	margin : 0;
}

.section ul,
.section ol {
	list-style-type: none;
}

.header,
.footer {
	background-color: #294860;
	color: white;
}

.title {
	padding-left: 0.2em;
}

.footer {
	padding-bottom: 40px;
}

.page-title {
	margin-top: 20px;
	text-align: center;
}

.top-image {
	min-width : 60px;
	max-width: 100px;
	width : 10%;
	min-height : 60px;
	float:left;
	margin : 10px;
}

.nav-top {
	padding-bottom: 10px;
}

.nav-top .dropdown {
	float : right;
	display: none;
	background: transparent;
	border : 0px;
	color : inherit;
	font-family: inherit;
	font-size: inherit;
}

.nav-list {
	padding : 0;
	list-style-type: none;
}

.nav-item a {
	display : inline-block;
	font-size : 1.3em;
	color : rgba(255, 255, 255, 0.65)
}

.nav-item a:hover {
	color: #307699;
}

.nav-item-right {
	float: right;
	margin-left: 15px;
	margin-right: 10px;
}

.nav-item-left {
	float: left;
	margin-left: 10px;
	margin-right: 5px;
}

.footer .take-nanodegree {
	display: block;
	width : 100%;
	text-align: center;
}

.button-primary {
	background-image: linear-gradient(to bottom,#f59a18 0,#f27d13 100%);
  background-repeat: repeat-x;
  border-color: #c7640b;
  color: #fff;
  background-color: #f6a926;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 1.4em;
  line-height: 1.7;
  cursor: pointer;
}

@media screen and (max-width:580px) {
	body {
		font-size : 14px;
	}
}

