* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	color : #1199c3;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
li.table-of-contents {
	margin : 20px 0;
}

li {
	margin-bottom: 1em;
}

.toc-entry {
	font-size: 1.2em;
	margin : 5px;
	margin-left : 0px;
}
.no-style-button {
	border : 0;
	background-color : transparent;
	cursor: pointer;
}

body {
  font-family: "Whitney SSm A","Whitney SSm B","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #303030;
  max-width: 960px;
  margin: 0 auto;
}
h1 {
	font-size : 2em;
	margin : 0;
}
h2 {
	color: #294860;
	background-color: #DDD;
	padding-left: 10px;
	font-weight : 1.8em;
}
h3 {
	margin-top: 2px;
}
.row {
	width : 100%;
	display: flex;
	flex-wrap: wrap;
}
.right {
	position: absolute;
	right : 0;
}
.bottom {
	position: absolute;
	bottom:  0;
}
.left {
	position: absolute;
	left : 0;
}
.relative {
	position: relative;
}
.one-quarter {
	width : 25%;
}
.one-third {
	width : 33.33%;
}
.half {
	width : 50%;
}
.two-third {
	width : 66.66%;
}
.three-quarter {
	width : 75%;
}
.full {
	width : 100%;
}
.one-twelfth {
	width : 8.33%;
}
.eleven-twelfth {
	width : 91.66%;
}
.one-sixth {
	width: 16.66%;
	position: relative;
	overflow: visible;
}
.five-sixth {
	width: 83.33%;
}
.comfy {
	padding : 4px;
}
.roomy {
	padding : 16px 10px;
}
/*.side {
	height : 100%;
	position: relative;
}*/
.centered {
	text-align: center;
	margin : 0 auto;
}

.codepen-container {
	background-color: #333;
	border : 5px solid white;
	/*padding: 8px;*/
	color: white;
}
div.top-nav {
	background-color: #294860;
	color: white;
}


.bottom {
	position : absolute;
	bottom : 0;
}

ul.top-links {
	margin : 0;
	display : inline-block;
}

.top-link {
	display: inline-block;
	float : right;
	padding-right: 5px;
	padding-left : 10px;
	font-size : 1em;
}
li.top-link {
	position : relative;
	text-decoration: none;
}

a.top-link {
	color: rgba(255,255,255,0.5);
	text-decoration: none;
	/*position: relative;*/
	float: left;

}




#top-image {
	margin-right : 20px;
}
#home-link {
	margin-top:5px;
	margin-right : 0px;
	padding-right : 0px;
	text-align: center;
	float: bottom;
	display:block;
	text-decoration: none;

}
div.section {
	background-size: cover;
	background-position: center;
	height: 290px;
	color: white;
	text-align: center;
	margin : 5px;
}
a.section-title {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.7);
	width: 80%;
	font-weight: normal;
	padding: 20px 40px;
	margin-top: 100px;
	color : white;
	text-decoration: none;
	vertical-align: middle;
	font-size: 30px;
	right:0;
	top:70px;
}
div.student-note {
	background-color: #8DC5D8;
	padding : 20px;
	border-radius: 4px;
	border : 2px solid #294860;
	margin-bottom: 10px;
}
.footer {
	background-color: #294860;
	padding: 10px;
	text-align: center;
	color: white;
	padding-bottom: 100px;
}
h1.top-title {
	display: inline-block;
	position: absolute;
	bottom: -28px;
	margin: 0;
	margin-left: 20px;
}
.content {
	padding: 0 10px;
}
.indent {
	padding-left: 10px;
}
.container {
	position: relative;
}
.lessons {
	float: left;
	display: inline-block;
	width : 38%;
	text-align: left;
}
.video {
	float : right;
	display: inline-block;
	width: 58%;
	text-align: center;
}
.caption {
	font-size: smaller;
	font-weight: bold;
}
.clear {
	clear: both;
}
ol.lesson{
	text-align: left;
}

ul.link {
	text-align: left;
}

a.lesson {
	font-weight: bold;
}

form {
	display: inline-block;
}
label {
	font-weight: bold;
	margin-top: 30px;
}

textarea {
	resize: none;
}

input, textarea {
	margin-bottom: 20px
}

.button-secondary {
  background-image: linear-gradient(to bottom,#52b6ee 0,#409cd3 100%);
  background-repeat: repeat-x;
  background-color: #1199c3;
  color: #fff;
  background-color: #f6a926;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 1.7;
  cursor: pointer;
  border-color: #2a82b6;
}

.button-primary {
	background-image: linear-gradient(to bottom,#f59a18 0,#f27d13 100%);
  background-repeat: repeat-x;
  border-color: #c7640b;
  color: #fff;
  background-color: #f6a926;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 24px;
  line-height: 1.7;
  cursor: pointer;
}

.concept-title {
	font-size: 18px;
	margin-bottom: 8px;
}

.concept-description {
	font-weight: lighter;
}
