{% extends "base.html" %}
{% block content %}
<h2>Add {{ language }} Example</h2>
<div class="indent">
	<p>Add links to example code</p>
	<form action="/example_code/{{ language }}/add" method="post">
		<label for="title">Code Example Title</label><br>
		<input type="text" name="title" id="title" required size="40"></input>
		<br>
		<label for="url">URL to Example</label><br>
		<input type="url" name="url" id="url" required size="40"></input>
		<br>
		<label for="description">Brief Description of what this example shows</label><br>
		<textarea name="description" id="description" maxlength="250" cols="40" rows="10" required></textarea>
		<br>
		<input id="share" class="button-primary" type="submit" value="Share your Example!">
	</form>
</div>
{% endblock %}