{% extends "base.html" %}
{% block content %}


<h2>Additional Resources</h2>
<ul class="table-of-contents">
{% for t in topics %}
	<li class="table-of-contents">
		<a class="toc-entry" href="#topic-{{ loop.index }}">{{ t.title }}</a>
		<!-- <div class="row">
		{% for r in t.resources %}
			<div class="one-third comfy" style="margin-bottom: 5px">
				{{ r.title }}
			</div>
		{% endfor %}
		</div> -->
	</li>
{% endfor %}
</ul>



{% for t in topics %}
<div class="topic">
	<h2 id="topic-{{ loop.index }}">{{ t.title }}</h2>
	<div class="indent">
		<p>{{ t.description }}</p>
		<ul>
		{% for r in t.resources %}
			<li>
				<a href="{{ r.url }}" target="_blank">
					{{ r.title }}
				</a>: {{ r.description }}
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endfor %}
{% endblock %}