{% extends "base.html" %}
{% block content %}


<h1 class="title">Additional Resources</h2>
<!-- <ul class="table-of-contents"> -->
<div class="row">
{% for t in topics %}
	<!-- <li class="table-of-contents-entry">
		<a class="toc-entry" href="#topic-{{ loop.index }}">{{ t.title }}</a>
	</li> -->
	<div class="entry-box">
		<a class="entry" href="#topic-{{ loop.index }}">{{ t.title }}</a>
	</div>
{% endfor %}
</div>
<!-- </ul> -->



{% for t in topics %}
<div class="topic">
	<h2 id="topic-{{ loop.index }}">{{ t.title }}</h2>
	<div class="indent">
		<p>{{ t.description }}</p>
		<ul class="resource-list">
		{% for r in t.resources %}
			<li class="resource-list-item">
				<a href="{{ r.url }}" target="_blank">
					{{ r.title }}
				</a>
				<p class="res">{{ r.description }}</p>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endfor %}
{% endblock %}