<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<title>
			Andy Brown's IPND Notes
		</title>
		<style>
			#{{ page_name }}-link {
				color: rgba(255,255,255,1.0);
			}
		</style>
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<div class="roomy row top-nav">
			<div class="one-quarter">
				<img id="top-image" src="/images/andy.png">
			</div>
			<div class="three-quarter">
				<h1>Andy Brown's IPND Notes</h1>
			</div>
		</div>
		<div class="roomy row top-nav relative">
			<a class="top-link bottom left"  href="/">Home</a>
			<ul class="top-links bottom right">
			{% for s in sections %}
				<li class="top-link">
					<a class="top-link " href="/{{ s.href }}" id="{{ s.id }}-link">
						{{ s.short_title }}
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<div class="row footer roomy centered">

			<h1 class="centered">Want to learn to code?</h1>
			<div class="full relative roomy">
				<form class="centered" action="https://www.udacity.com/course/nd000">
		    		<input class="button-primary" type="submit" value="Take the Nanodegree!">
				</form>
			</div>
		</div>
	</body>

</html>
{% endautoescape %}