{% extends "base.html" %}
{% block content %}
<h2>Codepen Examples</h2>

{% for ex in examples %}
<div class="row codepen-container">
	<div class="one-third indent">
		<h3>{{ ex.title }}</h3>
		<div class="full ">
			<!-- <span><b>{{ ex.level|capitalize() }}</b></span> -->
			<!-- <span class="votes">{{ ex.votes }}</span> -->
		</div>
		<div class="full">
			<p>{{ ex.description }}</p>
		</div>
	</div>
	<div class="two-third">
		<p data-height="268" class="codepen" data-theme-id="11790" data-slug-hash="{{ ex.code_pen_id }}" data-default-tab="result" data-user="{{ ex.user_name }}">
			See the Pen <a href='http://codepen.io/{{ ex.user_name }}/pen/{{ ex.code_pen_id }}/'>{{ ex.code_pen_id }}</a> by {{ ex.user_name }} (<a href='http://codepen.io/{{ ex.user_name }}'>@{{ ex.user_name }}</a>) on <a href='http://codepen.io'>CodePen</a>.
		</p>
	</div>
	<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
</div>
{% endfor %}
<h2>Add your own Example</h2>
<div class="row">
<form method="post">
	<div class="row">
		<div class="two-third roomy">
			<div class="form-element">
				<label for="title">Codepen Title</label><br>
				<input type="text" name="title" size="40" required></input>
			</div>
			<div class="form-element">
				<label for="description">Description</label><br>
				<textarea name="description" cols="38" rows="5" maxlength="200" required></textarea>
			</div>
			<div class="form-element">
				<label for="url">Codepen URL</label><br>
				<input type="url" name="url" size="40" placeholder="http://codepen.io/AndyAtUdacity/pen/LEjyPO"></input>
			</div>
		</div>
		<div class="one-third roomy">
			{% if available_levels|length > 0 %}
			<div class="form-element">
				<label for="level">Expertise Level</label>
				{% for l in available_levels %}
					<br><input type="radio" name="level" value="{{ l }}"> {{ l|capitalize() }}</input>
				{% endfor %}
			</div>
			{% endif %}
			
		</div>
	</div>
	<div class="form-element">
				<input type="submit" class="button-primary" value="Add Example"></input>
			</div>
</form>
</div>



{% endblock %}